@media(max-width:1550px) {
    .card-bottsection .text-block p {
        font-size: 16px;
    }
    .abus-topsection h1, .bottom-prslider-section h2, .catalog-topsect h1, h1 {
        font-size: 24px;
    }
    .abus-topsection p, .abus-section p {
        font-size: 16px;
    }
    .abus-toppic {
        max-width: 310px;
    }
}
@media(max-width:1367.8px) {

    .event-slider .slick-next.slick-arrow {
        right: -60px;
    }
    .event-slider .slick-prev.slick-arrow {
        left: -60px;
    }
    .card-bottsection .text-block p {
        font-size: 14px;
    }
}

@media(max-width:1300.8px) {
    .event-block .bottinf-block p.descr {
        overflow: hidden;
    }
    .card-bottsection .text-block p {
        font-size: 16px;
    }
    .bottom-prslider-section h2 {
        font-size: 22px;
    }
    .catalog-topsect h1 {
        font-size: 24px;
    }
    .order-leftblock .title {
        font-size: 16px;
    }
    .order-leftblock .descr {
        margin-bottom: 20px;
    }
    .product-block .toppic-block {
        height: 170px;
    }
    .product-block .inf-block {
        padding: 10px 10px 0 10px;
    }
    .product-block .price {
        font-size: 20px;
    }
    .event-block .bottinf-block p.descr {
        height: 110px;
    }
    .catalog-products.rowproducts .product-block .toppic-block {
        width: 200px;
    }
    .catalog-products.rowproducts .product-block .inf-block {
        width: calc(100% - 205px);
    }
    .prod-like {
        top: 10px;
        right: 10px;
    }
    .catalog-products.rowproducts .product-block .inf-block {
        padding-top: 10px;
    }
}

@media(max-width:1200.8px) {
    
    .bottpr-slide.slick-center .picblock-prslider, .picblock-prslider {
        height: 200px;
        width: 200px;
    }
    .bottom-prslider {
        max-width: 750px;
    }
    .bottpr-slide.slick-center .picblock-prslider img,
    .bottpr-slide .picblock-prslider img {
        max-width: 120px;
    }
    .event-slider .slick-arrow {
        background-color: rgb(238, 238, 238);
        z-index: 99;
        top: 37%;
    }
    .event-slider .slick-next.slick-arrow {
        right: 0px;
    }
    .event-slider .slick-prev.slick-arrow {
        left: 0px;
    }
}

@media(max-width:991.8px) {
    .new-section {
        margin-bottom: 40px;
    }
    .table-scroll {
        overflow-x: scroll;
    }
    .basket-table {
        width: 900px;
    }
    .order-processing {
        margin-bottom: 40px;
    }
    .abus-section {
        margin-bottom: 40px;
    }
    .not-available {
        margin-top: 0;
    }
    .product-descr .bott-block {
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .bottom-prslider-section h2 {
        font-size: 18px;
    }
    .product-descr .bottlink {
        font-size: 14px;
    }
    .prpriceright p {
        font-size: 12px;
        padding: 10px 5px;
    }
    .right-prinfo .title {
        margin-bottom: 10px;
        margin-top: 0;
    }
    .right-prinfo .model {
        margin-bottom: 10px;
        padding-bottom: 10px;
    }
    .product-descr .right-descr .jq-selectbox.jqselect {
        margin-bottom: 10px;
    }
    .product-descr>p, .product-descr .left-descr p {
        font-size: 14px;
        margin-bottom: 10px;
    }
    .card-topsection form {
        padding-right: 0px;
    }
    .product-descr .left-descr {
        width: 100%;
    }
    .slidersect-pr {
        padding-right: 0px;
    }
    .card-slider {
        height: auto;
    }
    .card-slide img {
        max-width:250px;
    }
    .catgrid-links {
        display: none;
    }
    .breadcrumbs {
        margin: 20px 0 20px 0;
    }
    .abus-topsection h1, .bottom-prslider-section h2, .catalog-topsect h1 {
        font-size: 20px;
    }
    .catalog-topsect .sort-filter span {
        font-size: 14px;
        margin-right: 5px;
    }
    #catalog-topfilter-styler {
        margin-right: 15px;
    }
    #catalog-topfilter-styler .jq-selectbox__select {
        width: 155px;
    }
    .catalog-topsect .col-md-6 {
        align-self: center;
    }
    .event-section h2 {
        font-size: 20px;
    }
    .show-more {
        margin-top: 20px;
    }
    .catalog-products {
        padding-bottom: 40px;
    }
    .event-section {
        padding: 50px 0;
    }
    footer .foot-sitemap {
        margin-left: 0;
    }
}
@media(max-width:950px) {
    .bottom-prslider {
        max-width: 600px;
    }
}
@media(max-width:767.8px) {
    .event-block .bottinf-block {
        padding-bottom: 20px;
    }
    .order-processing .continue-shopping,
    .order-processing input[type="submit"] {
        font-size: 14px;
        max-width: 100%;
    }
    .abus-toppic {
        max-width: 200px;
        margin-left: 20px;
    }
    .card-bottsection .text-block p, .abus-topsection p, .abus-section p {
        font-size: 14px;
    }
    .slidersect-pr {
        margin-bottom: 20px;
    }
    .card-slide img {
        padding: 25px;
        max-height: 240px;
    }
    .card-slide {
        height: auto;
        padding-bottom: 50px;
    }
    .card-slider .bottom-prslider {
        max-width: 100%;
    }
    .slick-dots {
        bottom: 20px;
    }
    .bottom-prslider .slick-prev.slick-arrow {
        left: 0;
    }
    .bottom-prslider .slick-next.slick-arrow {
        right: 0;
    }
    .color-filter,
    .extent {
        display: none;
    }
    .left-filt .title {
        border-bottom: 1px solid #e3e3e3;
    }
    .left-filt.link-products,
    .order-leftblock {
        display: none;
    }
    .catalog-topsect h1 {
        text-align: center;
        margin-bottom: 20px;
    }
    .catgrid-links {
        display: none;
    }
    .product-block .inf-block {
        padding: 20px 20px 0 20px;
    }
    .event-block .toppic-block>img {
        width: 100%;
    }
    .event-block .toppic-block,
    .event-block .bottinf-block p.descr {
        height: auto;
    }
    .event-slider .slick-arrow {
        width: 44px;
        height: 44px;
    }
    .catalog-products .relative {
        height: 344px;
    }
    footer .left-footblock {
        text-align: center;
    }
    footer .left-footblock>p {
        max-width: 100%;
    }
    footer .foot-social {
        margin-bottom: 20px;
    }
    footer .bottfooter-sect {
        display: block;
        align-items: initial;
        padding-top: 10px;
        height: auto;
    }
    footer .bottfooter-sect span {
        display: block;
        text-align: center;
        margin-bottom: 10px;
    }
    .bottfooter-sect .col-md-8 {
        display: block;
    }
    footer .foot-sitemap,
    footer .foot-contact {
        text-align: center;
    }
    footer .foot-sitemap ul li {
        background-image: none;
        padding-left: 0;
    }
    footer .foot-soc a:last-child {
        margin-right: 0;
    }
}

@media(max-width:575.8px) {
    .order-processing .continue-shopping {
        margin-bottom: 10px;
    }
    .order-processing .continue-shopping,
    .order-processing input[type="submit"] {
        width: 100%;
    }
    .basket-table thead tr th:first-child, .basket-table tbody tr td:first-child {
        padding-left: 15px;
    }
    .abus-toppic {
        max-width: 100%;
        margin-left: 0;
        float: none;
        margin-bottom: 10px;
    }
    footer {
        padding-top: 40px;
        padding-bottom: 20px;
    }
    footer .left-footblock {
        text-align: left;
    }
    .foot-social {
        display: none;
    }
    footer .left-footblock>p {
        margin-bottom: 30px;
    }
    footer .foot-sitemap,
    footer .foot-contact {
        text-align: left;
    }
    footer .foot-sitemap p.title {
        margin-bottom: 0;
        padding-bottom: 9px;
        border-bottom: 1px solid #C4C4C4;
        padding-left: 18px;
    }
    footer .foot-sitemap ul li {
        border-bottom: 1px solid #C4C4C4;
        padding-left: 18px;
        background-image: url(../image/new-pic/point.png);
        background-repeat: no-repeat;
        background-position: 90% center;
    }
    .foot-sitemap p.title {
        position: relative;
    }
    .foot-sitemap p.title img {
        display: inline-block;
        position: absolute;
        right: 10%;
        top: 7px;
        transform: rotate(180deg);
    }
    footer .foot-sitemap p.title.rotatepic img {
        transform: rotate(0deg);
    }
    footer .foot-contact {
        margin-top: 30px;
    }
    footer .foot-contact ul {
        margin-bottom: 15px;
    }
    .topfooter-sect {
        margin-bottom: 20px;
    }
    .showphone.foot-social {
        display: inline-block;
        padding: 0 15px;
    }
    .foot-social {
        margin-top: 15px;
    }
    .foot-social a {
        display: inline-block;
        vertical-align: middle;
    }
    .phone-hide {
        display: none !important;
    }
    footer .bottfooter-sect span {
        text-align: left;
    }
    footer .phone-show {
        display: block !important;
    }
    footer .bottfooter-sect span.phone-show a {
        text-decoration: underline;
    }
    .showphone, .phone-show {
        display: block !important;
    }
    .right-prinfo .title {
        font-size: 18px;
    }
    .card-bottsection .text-block {
        padding-top: 20px;
    }
    .card-bottsection .text-block p {
        margin-bottom: 30px;
    }
    .event-slider .slick-arrow, .bottom-prslider .slick-arrow {
        width: 44px;
        height: 44px;
        z-index: 99;
    }
    .bottom-prslider .slick-next.slick-arrow {
        right: -20px;
    }
    .bottom-prslider .slick-prev.slick-arrow {
        left: -20px;
    }
}