@media(max-width:1550px) {
    .no-gar li {
        font-size: 16px;
    }
    .error-sect {
        height: 500px;
    }
    .lefterr-block .title {
        font-size: 36px;
    }
    .lefterr-block .descr {
        font-size: 20px;
    }
    .lefterr-block a {
        font-size: 14px;
        width: 250px;
        height: 50px;
    }
    .contact-leftsect h1 {
        margin-bottom: 30px;
    }
    .addsoc .title {
        font-size: 20px;
    }
    .adres-block .descr, .adres-block .title, .cont-base .title,
    .cont-base .cont-phone, .cont-base .cont-mail {
        font-size: 16px;
    }
    .card-bottsection .text-block p,
    .dostavka p:not(title), .oplata p:not(title) {
        font-size: 16px;
    }
    .abus-topsection h1, .bottom-prslider-section h2, .catalog-topsect h1, h1,
    .dostavka .title, .oplata .title {
        font-size: 24px;
    }
    .abus-topsection p, .abus-section p {
        font-size: 16px;
    }
    .abus-toppic {
        max-width: 310px;
    }
    .new-description p {
        font-size: 16px;
        margin-bottom: 15px;
    }
    .new-description p.boldtext, .new-description ul li {
        font-size: 16px;
    }
    .arrnav a {
        font-size: 14px;
    }
    .new-description ul {
        margin-bottom: 15px;
    }
    .new-description p.boldtext {
        margin-bottom: 15px;
    }
}
@media(max-width:1367.8px) {
    .new-bottomsect {
        height: 70px;
    }
    .new-bottomsect .newsoclist li a {
        height: 35px;
        width: 35px;
    }
    .new-description p {
        font-size: 14px;
        margin-bottom: 15px;
    }
    .new-description p.boldtext, .new-description ul li {
        font-size: 14px;
    }
    .arrnav a {
        font-size: 14px;
    }
    .new-description ul {
        margin-bottom: 15px;
    }
    .new-description p.boldtext {
        margin-bottom: 15px;
    }

    .event-slider .slick-next.slick-arrow {
        right: -60px;
    }
    .event-slider .slick-prev.slick-arrow {
        left: -60px;
    }
    .card-bottsection .text-block p {
        font-size: 14px;
    }
}

@media(max-width:1300.8px) {
    .error-sect {
        background-position: center center;
    }
    .event-block .bottinf-block p.descr {
        overflow: hidden;
    }
    .card-bottsection .text-block p {
        font-size: 16px;
    }
    .bottom-prslider-section h2 {
        font-size: 22px;
    }
    .catalog-topsect h1 {
        font-size: 24px;
    }
    .order-leftblock .title {
        font-size: 16px;
    }
    .order-leftblock .descr {
        margin-bottom: 20px;
    }
    .product-block .toppic-block {
        height: 170px;
    }
    .product-block .inf-block {
        padding: 10px 10px 0 10px;
    }
    .product-block .price {
        font-size: 20px;
    }
    .event-block .bottinf-block p.descr {
        height: 110px;
    }
    .catalog-products.rowproducts .product-block .toppic-block {
        width: 200px;
    }
    .catalog-products.rowproducts .product-block .inf-block {
        width: calc(100% - 205px);
    }
    .prod-like {
        top: 10px;
        right: 10px;
    }
    .catalog-products.rowproducts .product-block .inf-block {
        padding-top: 10px;
    }

    .event-section {
        padding: 60px 0 60px 0;
    }

    .event-section h2 {
        font-size: 24px;
    }

    .event-slider .slick-arrow, .bottom-prslider .slick-arrow {
        width: 54px;
        height: 54px;
    }
}

@media(max-width:1200.8px) {
    .registration-sect {
        width: 100%;
    }
    
    .bottpr-slide.slick-center .picblock-prslider, .picblock-prslider {
        height: 200px;
        width: 200px;
    }
    .bottom-prslider {
        max-width: 750px;
    }
    .bottpr-slide.slick-center .picblock-prslider img,
    .bottpr-slide .picblock-prslider img {
        max-width: 120px;
    }
    .event-slider .slick-arrow {
        background-color: rgb(238, 238, 238);
        z-index: 99;
        top: 37%;
    }
    .event-slider .slick-next.slick-arrow {
        right: 0px;
    }
    .event-slider .slick-prev.slick-arrow {
        left: 0px;
    }
}

@media(max-width:991.8px) {
    .create-block {
        width: 100%;
        height: auto;
        padding: 30px 0;
    }
    .create-block a {
        width: 100%;
        height: 45px;
    }
    
    .create-block .title {
        font-size: 14px;
        margin-bottom: 20px;
    }
    .no-gar li {
        font-size: 14px;
    }
    .error-sect {
        height: 400px;
    }
    .liked-section {
        margin-bottom: 30px;
    }
    .dostavka {
        padding-bottom: 30px;
    }
    .oplata {
        padding-bottom: 40px;
        padding-top: 30px;
    }
    .dostavka p:not(title), .oplata p:not(title) {
        font-size: 14px;
    }
    .contact-section {
        margin-bottom: 40px;
    }
    .adres-block .descr, .adres-block .title, .cont-base .title, .cont-base .cont-phone, .cont-base .cont-mail {
        font-size: 14px;
    }
    .contact-leftsect h1 {
        margin-bottom: 20px;
    }
    .cont-base .cont-phone {
        line-height: 20px;
    }
    .map-section {
        height: 360px;
    }
    .adres-block, .cont-base {
        margin-bottom: 20px;
    }
    .new-section {
        margin-bottom: 40px;
    }
    .table-scroll {
        overflow-x: scroll;
    }
    .basket-table {
        width: 900px;
    }
    .order-processing {
        margin-bottom: 40px;
    }
    .abus-section {
        margin-bottom: 40px;
    }
    .not-available {
        margin-top: 0;
    }
    .product-descr .bott-block {
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .bottom-prslider-section h2 {
        font-size: 18px;
    }
    .product-descr .bottlink {
        font-size: 14px;
    }
    .prpriceright p {
        font-size: 12px;
        padding: 10px 5px;
    }
    .right-prinfo .title {
        margin-bottom: 10px;
        margin-top: 0;
    }
    .right-prinfo .model {
        margin-bottom: 10px;
        padding-bottom: 10px;
    }
    .product-descr .right-descr .jq-selectbox.jqselect {
        margin-bottom: 10px;
    }
    .product-descr>p, .product-descr .left-descr p {
        font-size: 14px;
        margin-bottom: 10px;
    }
    .card-topsection form {
        padding-right: 0px;
    }
    .product-descr .left-descr {
        width: 100%;
    }
    .slidersect-pr {
        padding-right: 0px;
    }
    .card-slider {
        height: auto;
    }
    .card-slide img {
        max-width:250px;
    }
    .catgrid-links {
        display: none;
    }
    .breadcrumbs {
        margin: 20px 0 20px 0;
    }
    .abus-topsection h1, .bottom-prslider-section h2, .catalog-topsect h1 {
        font-size: 20px;
    }
    .catalog-topsect .sort-filter span {
        font-size: 14px;
        margin-right: 5px;
    }
    #catalog-topfilter-styler {
        margin-right: 15px;
    }
    #catalog-topfilter-styler .jq-selectbox__select {
        width: 155px;
    }
    .catalog-topsect .col-md-6 {
        align-self: center;
    }
    .event-section h2 {
        font-size: 20px;
    }
    .show-more {
        margin-top: 20px;
    }
    .catalog-products {
        padding-bottom: 40px;
    }
    .event-section {
        padding: 50px 0;
    }
    footer .foot-sitemap {
        margin-left: 0;
    }
}
@media(max-width:950px) {
    .bottom-prslider {
        max-width: 600px;
    }
}
@media(max-width:767.8px) {
    .signforgpass {
        right: initial;
        left: 255px;
    }
    .create-block {
        max-width: 380px;
        margin-bottom: 20px;
    }
    .forgot-pass, .registration-sect {
        padding-left: 0;
    }
    .lefterr-block .title {
        font-size: 25px;
    }
    .lefterr-block .descr {
        font-size: 16px;
    }
    .map-section {
        margin-top: 20px;
    }
    .arrnav a {
        font-size: 13px;
    }
    .arrnav .navprev {
        margin-right: 6px;
        padding-left: 20px;
    }
    .arrnav .navnewxt {
        margin-left: 6px;
        padding-right: 20px;
    }
    .new-bottomsect .newsoclist li:first-child {
        font-size: 14px;
    }
    .new-bottomsect .newsoclist li a {
        height: 30px;
        width: 30px;
        margin-right: 5px;
    }
    .new-description ul li {
        margin-bottom: 10px;
        line-height: 20px;
    }
    .event-block .bottinf-block {
        padding-bottom: 20px;
    }
    .order-processing .continue-shopping,
    .order-processing input[type="submit"] {
        font-size: 14px;
        max-width: 100%;
    }
    .abus-toppic {
        max-width: 200px;
        margin-left: 20px;
    }
    .card-bottsection .text-block p, .abus-topsection p, .abus-section p {
        font-size: 14px;
    }
    .slidersect-pr {
        margin-bottom: 20px;
    }
    .card-slide img {
        padding: 25px;
        max-height: 240px;
    }
    .card-slide {
        height: auto;
        padding-bottom: 50px;
    }
    .card-slider .bottom-prslider {
        max-width: 100%;
    }
    .slick-dots {
        bottom: 20px;
    }
    .bottom-prslider .slick-prev.slick-arrow {
        left: 0;
    }
    .bottom-prslider .slick-next.slick-arrow {
        right: 0;
    }
    .color-filter,
    .extent {
        display: none;
    }
    .left-filt .title {
        border-bottom: 1px solid #e3e3e3;
    }
    .left-filt.link-products,
    .order-leftblock {
        display: none;
    }
    .catalog-topsect h1 {
        text-align: center;
        margin-bottom: 20px;
    }
    .catgrid-links {
        display: none;
    }
    .product-block .inf-block {
        padding: 20px 20px 0 20px;
    }
    .event-block .toppic-block>img {
        width: 100%;
    }
    .event-block .toppic-block,
    .event-block .bottinf-block p.descr {
        height: auto;
    }
    .event-slider .slick-arrow {
        width: 44px;
        height: 44px;
    }
    .catalog-products .relative {
        height: 344px;
    }
    footer .left-footblock {
        text-align: center;
    }
    footer .left-footblock>p {
        max-width: 100%;
    }
    footer .foot-social {
        margin-bottom: 20px;
    }
    footer .bottfooter-sect {
        display: block;
        align-items: initial;
        padding-top: 10px;
        height: auto;
    }
    footer .bottfooter-sect span {
        display: block;
        text-align: center;
        margin-bottom: 10px;
    }
    .bottfooter-sect .col-md-8 {
        display: block;
    }
    footer .foot-sitemap,
    footer .foot-contact {
        text-align: center;
    }
    footer .foot-sitemap ul li {
        background-image: none;
        padding-left: 0;
    }
    footer .foot-soc a:last-child {
        margin-right: 0;
    }
}

@media(max-width:575.8px) {
    #forgot-pass label, #registration label, #registration input[type="text"], #registration input[type="tel"], #registration input[type="password"], #registration input[type="email"] {
        font-size: 14px;
    }
    #registration input[type="text"], #registration input[type="tel"], #registration input[type="password"], #registration input[type="email"] {
        margin-bottom: 25px;
    }
    .btnsect-form span {
        display: block;
        margin-top: 10px;
    }
    .error-sect {
        height: 300px;
        position: relative;
        background-image: none;
    }
    .errphone {
        display: block;
        opacity: .5;
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background-image: url(../image/new-pic/error.png);
        background-size: cover;
        background-size: cover;
    background-position: inherit;
    }
    .dostavka .title, .oplata .title {
        font-size: 20px;
    }
    .abus-topsection h1, .bottom-prslider-section h2, .catalog-topsect h1, h1 {
        font-size: 20px;
    }
    .newsoclist {
        text-align: center;
        margin-bottom: 20px;
    }
    .new-bottomsect {
        height: 90px;
    }
    .arrnav {
        justify-content: center;
    }
    .order-processing .continue-shopping {
        margin-bottom: 10px;
    }
    .order-processing .continue-shopping,
    .order-processing input[type="submit"] {
        width: 100%;
    }
    .basket-table thead tr th:first-child, .basket-table tbody tr td:first-child {
        padding-left: 15px;
    }
    .abus-toppic {
        max-width: 100%;
        margin-left: 0;
        float: none;
        margin-bottom: 10px;
    }
    footer {
        padding-top: 40px;
        padding-bottom: 20px;
    }
    footer .left-footblock {
        text-align: left;
    }
    .foot-social {
        display: none;
    }
    footer .left-footblock>p {
        margin-bottom: 30px;
    }
    footer .foot-sitemap,
    footer .foot-contact {
        text-align: left;
    }
    footer .foot-sitemap p.title {
        margin-bottom: 0;
        padding-bottom: 9px;
        border-bottom: 1px solid #C4C4C4;
        padding-left: 18px;
    }
    footer .foot-sitemap ul li {
        border-bottom: 1px solid #C4C4C4;
        padding-left: 18px;
        background-image: url(../image/new-pic/point.png);
        background-repeat: no-repeat;
        background-position: 90% center;
    }
    .foot-sitemap p.title {
        position: relative;
    }
    .foot-sitemap p.title img {
        display: inline-block;
        position: absolute;
        right: 10%;
        top: 7px;
        transform: rotate(180deg);
    }
    footer .foot-sitemap p.title.rotatepic img {
        transform: rotate(0deg);
    }
    footer .foot-contact {
        margin-top: 30px;
    }
    footer .foot-contact ul {
        margin-bottom: 15px;
    }
    .topfooter-sect {
        margin-bottom: 20px;
    }
    .showphone.foot-social {
        display: inline-block;
        padding: 0 15px;
    }
    .foot-social {
        margin-top: 15px;
    }
    .foot-social a {
        display: inline-block;
        vertical-align: middle;
    }
    .phone-hide {
        display: none !important;
    }
    footer .bottfooter-sect span {
        text-align: left;
    }
    footer .phone-show {
        display: block !important;
    }
    footer .bottfooter-sect span.phone-show a {
        text-decoration: underline;
    }
    .showphone, .phone-show {
        display: block !important;
    }
    .right-prinfo .title {
        font-size: 18px;
    }
    .card-bottsection .text-block {
        padding-top: 20px;
    }
    .card-bottsection .text-block p {
        margin-bottom: 30px;
    }
    .event-slider .slick-arrow, .bottom-prslider .slick-arrow {
        width: 44px;
        height: 44px;
        z-index: 99;
    }
    .bottom-prslider .slick-next.slick-arrow {
        right: -10px;
    }
    .bottom-prslider .slick-prev.slick-arrow {
        left: -10px;
    }
}
@media(max-width:480px) {
    .error-sect {
        background-position: 57% 0%;
    }
}
@media(max-width:415px) {
    .signforgpass {
        right: 0;
        left: initial;
    }
}